<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: head">
    </head>
    <body>
        <div th:include="layout :: navigationPanel"></div>
        <h2>Logowanie do systemu:</h2>
        <form th:action="@{/login}" method="POST">
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Login" aria-label="Username" aria-describedby="basic-addon1" name="login">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1"></span>
                <input type="password" class="form-control" placeholder="Hasło" aria-label="Username" aria-describedby="basic-addon1" name="passwd">
            </div>
            <button type="submit">Zaloguj się</button>
        </form>
        <div th:include="layout :: footer"></div>
    </body>
</html>
